/* Discovery */
.discovery--main{
    height: 100%;
    display: flex;  
}

.discovery__user--image{
    width: 55%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.discovery__info{
    padding:20px;
    width: 45%;
}

.discovery__info--name{
    font-weight: 400;
}

.discovery__info--detail{
    color:#767676;  
    margin:8px 0;
}

.discovery__info-category--title{
    font-weight: 500;
}

.discovery__user--image{
    position: relative;
}

.discovery__user--button{
    position: absolute;
    padding:10px;
    border: none;
    background-color: transparent;
    height: 100%;
    z-index: 1;   
} 

.discovery__user--button i{
    color:rgba(255,255,255,0.9);
    font-size: 40px;
}
.discovery__user--button:hover i{
    transform: scale(1.5);
}

.discovery__user--button--left{
    text-align: start;
    width: 50%;
    left:0;
}

.discovery__user--button--right{
    text-align: end;
    width: 50%;
    right:0;
}

.discovery__user--button-main{
    position: absolute;
    bottom: 5%;
    left:0;
    z-index: 2;
    text-align: center;
    width: 100%;
} 

.discovery__user--button-main--detail{
    background-color: white;
    width: 90px;
    height: 90px;
    border-radius: 100%;
    border: none;
    margin: 0 14px;
}

.discovery__user--button-main--detail:hover {
    transform: scale(1.2);
}

.discovery__user--button-main--detail i{
    font-size: 50px;
}

.btn-discovery-like i{
    color:var(--color--primary);
}

.discovery__user--button--report{
    position: absolute;
    z-index: 2;
    padding: 10px;
    background-color:rgba(0,0,0,0.4);
    border: none;
}

.discovery__user--button--report:hover{
    background-color: rgba(0,0,0,0.6);
}

.discovery__user--button--report i{
    color:white;
}


