.interaction--item{
   height: 225px; 
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   border-radius: 10px;
   display: flex;
   align-items:flex-end;
   overflow:hidden;
}  

.interaction--item--contain{
    margin-bottom: 20px;
    cursor: pointer;
}

.interaction--item:hover .interaction--item--detail--contain{
    transform: translateY(0);
}

.interaction--item--detail--contain{
    width: 100%;
    transform: translateY(38px);
    transition: all .3s;
}

.interaction--item--detail{
    margin:10px;

}

.interaction--item__name{
    color:white;
    font-size: 20px;
    font-weight: 500;
}

.interaction--item__intro{
    color: rgb(235, 230, 230);
}

.interaction--item__name--main--title{
    color:var(--color--primary);
    font-size:20px;
    font-weight: 500;
}

.interaction--item--hover{
    background-color: white;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(204, 197, 197);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.interaction--item--hover i{
    color:var(--color--primary);

}

.interaction--item--hover--liked{
    height: 100%;
    width: 100%;
}

.interaction--item--hover--liked__icon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.interaction--item--hover--liked__icon:hover{
    background-color: #e0e7ea;
}

.interaction--item--hover--liked__icon:first-child{
    border-right: 1px solid #c7bfbf;
}