.criteria {
    margin-top: 50px;
    border-radius: 5px;
    background: linear-gradient(262deg, var(--color--primary), #1d2b77);
    -webkit-box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.88);
    box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.88);
    height: 220px;
}

.criteria-main {
   padding:20px 30px;
   color:aliceblue;
   display:flex;
}

.criteria-main--part{
    position: relative;
}

.criteria--img{
    width: 100%;
}

.criteria--title {
    margin:0 0 5px 0;
    font-size: 24px;
}

.criteria--content{
    font-size: 18px;
    color:white;
}

.criteria--content i{
    font-size: 14px;
    margin:0 10px;
}

.criteria--gender{
    margin:6px 0;
}

.criteria--seekbar {
    width: 100%;
    height: 10px;
    background-color: red;
    border-radius: 100px;
    margin: 6px 0;
}

.criteria--submit{
    text-align: end;
}

.criteria--submit--btn{
    padding:8px 10px;
    /* background-color: var(--color--primary); */
    background: linear-gradient(262deg, #1d2b77, var(--color--primary));
    color:white;
    border: none;
    border-radius: 5px;
    transition: all 1s;
}

.criteria--submit--btn:hover{
    background: linear-gradient(262deg, var(--color--primary), #1d2b77);
}

.criteria-gender{
    color:white !important;
}

.criteria-form-control{
    text-align: start;
}

.criteria--age{
    display: flex;
    justify-content: space-between;
}
