.sidebar{
    width: 270px;
    height: 100vh;
    background-color: white;
    text-align: center;
    padding:20px 0;
    position: fixed;
    top:0;
    left:0;
    overflow: auto;
}

.sidebar-credit--contain{
    margin: 3px 0;
    text-align: center;
}

.sidebar-credit{
    padding:10px 20px;
    background-color: #fed759;
    display: inline-block;
    color: white;
    font-weight: 500;
    border-radius:10px;
}

.sidebar-credit i{
    margin-right: 10px;
}

.sidebar__line{
    height: 2px;
    width: 80%;
    background-color: black;
    margin: 20px auto;
}

.sidebar__intro{
    display:flex;
    justify-content: center;
    align-items: center;
}
.sidebar--avatar{
    border-radius: 100%;
    margin-right: 10px;
    width: 50px;
    height: 50px;
    background-color: white;
    background-position: center;
    background-size: cover;
}

.update-avatar{
    cursor: pointer;
}

.perform-update-avatar{
    width: 200px;
    height: 200px;
    margin:0 auto;
}

.perform-update-avatar--h3{
    text-align: center;
}

.sidebar-logo{
    width: 50px;
}

.sidebar-logo--des{
    color:var(--color--primary);
    margin:10px 0px;
}

.sidebar-category{

}

.sidebar-category__item{
    padding: 14px 40px;
    display: block;
    color:black;
    cursor: pointer;
}

.sidebar-category__item--td--icon{
    text-align: start;
    width: 35px;
}

.sidebar-category__item--td--label{
    text-align: start;
    width: 120px;
}


.sidebar-category__item--icon{
    color:var(--color--primary);
}

.sidebar-category__item--active{
    padding: 14px 40px;
    display: block;
    color:var(--color--primary);
    background-color: rgba(0, 0, 0, 0.05);
}

.sidebar-category__item:hover{
    background-color: rgba(0, 0, 0, 0.05);
}

.sidebar-category__item--title{
    font-weight: 500;
}

.sidebar-category__item--circle{
    background-color: var(--color--primary);
    width: 20px;
    height: 20px;
    border-radius: 100%;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.sidebar-category__item--title i{
    margin-right: 20px;

}

.sidebar-end{
    position: absolute;
    bottom: 20px;
    right: 0;
    left:0;
    font-weight: bold;
    cursor:pointer;
}

/* Responsive */
@media only screen and (max-width: 1250px) {
    .board--profile-image__upload-main{
        width: 25%;
    }
    .board--profile-image__image-main{
        width: 75%;
    }
}
@media only screen and (max-width: 1100px) {
    .board--profile-image__upload-main{
        width: 33.3%;
    }
    .board--profile-image__image-main{
        width: 66.6%;
    }
}
@media only screen and (max-width: 630px) {
    .board--profile-image__upload-main{
        width: 50%;
    }
    .board--profile-image__image-main{
        width: 50%;
    }
}
@media only screen and (max-width: 1024px) {
    .sidebar--avatar{
        margin:0;
    }
    .perform-update-avatar{
        margin: 0 auto;
    }
    /* Sidebar */
    .sidebar{
        width: max-content;
    }
    .sidebar__intro__name,.sidebar-category__item--td--label,.sidebar-credit--contain{
        display: none;
    }
    .sidebar-category__item--td--icon{
        width: unset;
    }
    .sidebar-category__item--circle--contain{
        position: absolute;
        left:50%;
        top:-10px;
    }
    .sidebar__line{
        margin:10px auto;
    }
    /* Main App.css */
    .main{
        margin-left: 108px;
        border-left:20px solid transparent;
        border-right: 20px solid transparent;
    }
    /* Upgrade */
    .upgrade-main--image {
        width: 180px!important;
        height: 180px!important;
    }
}

@media only screen and (max-width: 995px) {
    .criteria--img,.about-me--gif{
        display: none;
    }
}

@media only screen and (max-width: 800px) {
    .board--main{
        padding:10px 20px;
    }
    /* Profile */
    .about-me--gif{
        display: none;
    }
    /* Messenger */
    .messenger--left{
        width: 100% !important;
    }
    .messenger--right{
        width: 100% !important;
        margin-left:0 !important;
        padding-left: 0 !important; 
        border-left: 0 !important;
    }
    .messenger--left-none{
        display:none;
    }
    .board--profile-image__image-main{
        flex-wrap: wrap;
    }
    .none-contain--messenger{
        display: none;
    }
    .messenger--user__item-avatar--img{
        height: 35px !important;
        width: 35px !important;
    }
}

@media only screen and (max-width: 780px) {
    .login-main-form{
        max-width: 675px;
    }
    .register-main-form{
        max-width: 685px;
    }
}

@media only screen and (max-width: 768px) {
    .discovery--main{
        flex-direction: column;
        overflow: auto;
        height: unset;
    }
    .discovery__info{
        width: unset;
        background-color: rgba(240, 240, 240, 1);
    }
    .discovery__user--image{
        width: 100%;
        height: 600px;
    }
    .discovery__user--image--info--tablet-mobile{
        display: block;
        text-align: center;
    }
    .discovery__user--image--info--tablet-mobile__name{
        display: inline-block;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.2);
        padding: 0 20px;
    }
    .modal-board{
        width: 90% !important;
        background-color: unset;
        margin: 0 auto;
    }
    .modal-main{
        flex-direction: column;
        height: unset !important;
    }
}

@media only screen and (max-width: 720px) {
    .about-me-category--input--textarea{
        width: unset !important;
    }
    .login-main-form{
        margin: 20px auto;
    }
    .quantity-people{

    }
    .login-main-form--external--login{
        display: flex;
    }
    .login-first-intro{
        display: none;
    }
}

@media only screen and (max-width: 640px) {

}

@media only screen and (max-width: 600px) {

}

@media only screen and (max-width: 568px) {
    .sidebar-logo--des{
        display: none;
    }
    .sidebar-category__item--active{
        padding:14px;
    }
    .sidebar-category__item{
        padding:14px;
    }
    .main {
        margin-left:57px;
        border-left:8px solid transparent;
        border-right: 8px solid transparent;
    }
    .board, .modal-board {
        max-width: 450px;
    }
    .board__heading__setting{
        display: flex;
    }
    .board__heading__name--main{
        font-size: 18px;
        margin-left: 10px;
    }
    .board__setting-title{
        font-size: 18px;
    }
    .board--profile-image{
        margin-top: 10px;
    }
    .about-me-category--child--tr th, .about-me-category--child--tr td{
        padding:0px 10px 10px 0 !important;
    }
    .board.discovery__user--image{
        height: 550px;
    }
    .image--register{
        display: none;
    }
    .register-main-form{
        margin:20px auto
    }
}

@media only screen and (max-width: 563px) {

}

@media only screen and (max-width: 549px) {
    .login-main-form--external-link {
        padding: 7px 10px;
    }
    .board--profile-image{
        flex-wrap: wrap;
    }
    .board--profile-image__image-main{
        justify-content: center;
    }
    .criteria--title{
        font-size: 18px !important;
    }
    .about-me-category--title{
        margin: 10px 0;
    }
    .messenger--main{
        padding:0;
    }
    .messenger--left{
        padding: 5px 10px;
    }
    .messenger--user__item--main-chat{
        padding:10px 0 !important;
    }
    .criteria--content{
        font-size: 15px !important;
    }
    .register-main-form--title{
        font-size: 24px;
    }
    .register-main-form--logo{
        width: 70px;
    }
}

@media only screen and (max-width: 534px) {

}

@media only screen and (max-width: 480px) {
    .messenger--user__item__detail--content{
        display: none !important;
    }
    .board--profile-other-heart{
        display: none;
    }
    .board--profile-image{
        justify-content: center;
    }
    .board--profile-image__upload-main{
        width: 250px;
    }
    .board--profile-image__image-main{
        width: 250px;
    }
    .about-me-category{
        margin-bottom: 30px;
    }
    .about-me-category--title{
        font-size: 16px !important;
    }
    .none-image{
        width: 250px;
    }
    .discovery__user--image,.modal-board,.board{
        height: 630px !important;
    }
    .modal-board{
        width: 85% !important;
    }
}

@media only screen and (max-width: 360px) {
    .board--profile-image__image-main{
        width: 200px;
    }
    div.messenger-chat-input-icon-emoji--contain__main{
        position: fixed ;
        bottom:50px;
        right:20px;
    }
    .discovery__user--image,.modal-board,.board{
        height: 550px !important;
    }
}
/* 
@media only screen and (max-height: 560px) {
    .responsive-height{
        display:flex;
    }
    .main{
        display: none;
    }
    .sidebar{
        display: none;
    }
} */
