.sidebar{
    width: 270px;
    min-height: 100vh;
    background-color: white;
    text-align: center;
    padding:20px 0;
    position: fixed;
    top:0;
    left:0;
}

.sidebar-credit--contain{
    margin: 3px 0;
    text-align: center;
}

.sidebar-credit{
    padding:10px 20px;
    background-color: #fed759;
    display: inline-block;
    color: white;
    font-weight: 500;
    border-radius:10px;
}

.sidebar-credit i{
    margin-right: 10px;
}

.sidebar__line{
    height: 2px;
    width: 80%;
    background-color: black;
    margin: 20px auto;
}

.sidebar__intro{
    display:flex;
    justify-content: center;
    align-items: center;
}
.sidebar--avatar{
    border-radius: 100%;
    margin-right: 10px;
    width: 50px;
    height: 50px;
}

.sidebar-logo{
    width: 50px;
}

.sidebar-logo--des{
    color:var(--color--primary);
    margin:10px 0px;
}

.sidebar-category{

}

.sidebar-category__item{
    padding: 14px 40px;
    display: block;
    color:black;
    cursor: pointer;
}

.sidebar-category__item--td{
    text-align: start;
    width: 35px;
}

.sidebar-category__item--icon{
    color:var(--color--primary);
}

.sidebar-category__item--active{
    padding: 14px 40px;
    display: block;
    color:var(--color--primary);
    background-color: rgba(0, 0, 0, 0.05);
}

.sidebar-category__item:hover{
    background-color: rgba(0, 0, 0, 0.05);
}

.sidebar-category__item--title{
    font-weight: 500;
}

.sidebar-category__item--title i{
    margin-right: 20px;

}

.sidebar-end{
    position: absolute;
    bottom: 20px;
    right: 0;
    left:0;
    font-weight: bold;
    cursor:pointer;
}